
<div class="side-nav">
    <img class="logo" src="./image/inmest.jpg" alt="Logo">
    <ul class="menu">
        <li class="menu-active">
            <a [routerLink]="['/']">
                <img class="menu-icon" src="icons/dashbard icon.svg" alt="Dashboard icons">
                Dashboard
            </a>
            
        </li>
        <li>
            <a [routerLink]="['/my-classes']">
            <img class="menu-icon" src="icons/Group 1033.svg" alt="Attendance">
            Attendance
        </a>
        </li>
        <li>
            <a [routerLink]="['/leave']">
            <img class="menu-icon" src="icons/Group 1034.svg" alt="Leave">
            Leave
            </a>
        </li>
        <li>
            <a [routerLink]="['/analytics']">
            <img class="menu-icon" src="icons/Group 1035.svg" alt="Analytics">
            Analytics
            </a>
        </li>
        <li>
            <a [routerLink]="['/users']">
            <img class="menu-icon" src="icons/Group 1036.svg" alt="Users">
            Users
        </a>
        </li>

    </ul>
</div>
